body{
    background-color: dodgerblue;
}

textarea{
    resize: none;
}

.modal-title{
    color: cadetblue;
}

.modal-content{
    background-color: black;
}

.table{
    border-radius: 25px;
    border: 2px;
    border-color: #55595C;
    border-collapse: collapse;
}

#login-header h3{
    text-align: center;
}

#server-message{
    font-weight: bold;
    color: red;
    background-color: #FFCFCF;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

#code{
    font-family: 'Orbitron', sans-serif;
}
