body{
    background-color: dodgerblue;
}

textarea{
    resize: none;
}

.modal-title{
    color: cadetblue;
}

#adminBackground.modal-content{
    background-color: black;
}

#adminTables.table{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #55595C;
    border-collapse: collapse;
    table-layout:fixed;
}

#adminTables.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#code{
    font-family: 'Orbitron', sans-serif;
}

#creationForm{
    background-color: #2f2e2e;
    border-radius: 5px;
    padding: 5px;
}

#creationForm h4{
    font-family: 'Orbitron', sans-serif;
    color: cadetblue;
}

#goIcon{
    vertical-align: bottom;
}

#login-header h3{
    text-align: center;
}

#requestDetails.table{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #373A3C;
    color: #ECEEEF;
    table-layout: fixed;
}

#requestDetails.table td{
    word-wrap: break-word;
    white-space: pre-line;
}

#requestTitleButton{
    background-color: cadetblue;
    border: none;
}

#server-message{
    font-weight: bold;
    color: red;
    background-color: #FFCFCF;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

#urlIcon{
    vertical-align: middle;
    color: blue;
}

#userDetails.table{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #373A3C;
    color: #ECEEEF;
    table-layout: fixed;
}

#userPassword{
    color: #373A3C;
}

#userPassword:hover{
    color: inherit;
}
