{% extends "parent.html" %}
{% block title %}Godmode{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body%}
<div class="container-fluid">
    <div class="well">
        <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
                <h3 class="modal-title" id="code">Administration Center For the Sudoers of the World</h3>
            </div>

            <!-- body -->
            <div class="modal-body">
                <!-- Requests Table -->
                <table class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Client</th>
                            <th>Priority</th>
                            <th>Target Date</th>
                            <th>URL</th>
                            <th>Product Area</th>
                            <th>By User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr>
                            <td>{{request.title}}</td>
                            <td>{{request.description}}</td>
                            <td>{{request.client.name}}</td>
                            <td>{{request.priority}}</td>
                            <td>{{request.targetdate}}</td>
                            <td>{{request.ticketurl}}</td>
                            <td>{{request.productarea.name}}</td>
                            <td>{{request.user.username}}</td>
                        <tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Clients' Table -->
                <table class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <td>
                                {{ client.name }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Production Area Table -->
                <table class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th>Area Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for area in areas %}
                        <tr>
                            <td>
                                {{ area.name }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Users Table -->
                <table class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>E-mail</th>
                            <th>Password</th>
                            <th>User Status</th>
                            <th>Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                            {% if user.isAdmin %}
                            <td>Administrator</td>
                            {% else %}
                            <td>User</td>
                            {% endif %}
                            <td>{{ user.client.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
