{% extends "parent.html" %}
{% block title %}Godmode{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body%}
<div class="container-fluid">
    <div class="well">
        <div class="modal-content" id="adminBackground">

            <!-- header -->
            <div class="modal-header">
                <h3 class="modal-title" id="code">Administration Center For the Sudoers of the World</h3>
            </div>

            <!-- body -->
            <div class="modal-body table-responsive">
                <!-- Requests Table -->
                <h4 class="h4" id="code">Feature Requests</h3>
                <table id="adminTables" class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th class="col-lg-2 col-md-2">Title</th>
                            <th class="col-lg-3 col-md-3">URL + Description</th>
                            <th class="col-lg-2 col-md-2">Client/Priority</th>
                            <th class="col-lg-2 col-md-2">Target Date</th>
                            <th class="col-lg-1 col-md-1">Area</th>
                            <th class="col-lg-2 col-md-2">By User</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set counter = 1 %}
                        {% for request in requests %}
                        <tr>
                            <form action="/details" method="POST">
                                <input type="hidden" name="request_id" value="{{request.id}}" />
                                <th scope="row" class="col-lg-2 col-md-2"><button type="submit" class="btn btn-info btn-sm btn-block" id="requestTitleButton">{{request.title}}</button></td>
                                <td class="col-lg-3 col-md-3"><!--<a href="{{request.ticketurl}}" class="icon">--><span class="glyphicon glyphicon-search" aria-hidden="true"></span><!--</a>-->{{request.description}}</td>
                                <td class="col-lg-2 col-md-2">{{request.client.name}} - {{request.priority}}</td><!-- Need to select ref col value -->
                                <td class="col-lg-2 col-md-2">{{request.targetdate}}</td>
                                <td class="col-lg-1 col-md-1">{{request.productarea.name}}</td><!-- Need to select ref col value -->
                                <td class="col-lg-2 col-md-2">{{request.user.username}}</td><!-- Need to select ref col value -->
                            </form>
                        </tr>
                        {% set counter = counter + 1 %}
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Clients' Table -->
                <h4 class="h4" id="code">Clients</h3>
                <table id="adminTables" class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr>
                            <th scope="row">
                                {{ client.name }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Production Area Table -->
                <h4 class="h4" id="code">Production Areas</h3>
                <table id="adminTables" class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th>Area Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for area in areas %}
                        <tr>
                            <th scope="row">
                                {{ area.name }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Users Table -->
                <h4 class="h4" id="code">User Accounts</h3>
                <table id="adminTables" class="table table-hover table-sm table-inverse">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>E-mail</th>
                            <th>Password</th>
                            <th>User Status</th>
                            <th>Client</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <th scope="row">{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td id="userPassword">{{ user.password }}</td>
                            {% if user.isAdmin %}
                            <td>Administrator</td>
                            {% else %}
                            <td>User</td>
                            {% endif %}
                            <td>{{ user.client.name }}</td><!-- Need to select ref col value -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
