{% extends "parent.html" %}
{% block title %}Details{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body%}
{% set request = requests[0] %}
<div class="container-fluid">
    <div class="well">
        <div class="modal-content" id="adminBackground">

            <!-- header -->
            <div class="modal-header">
                <h3 class="modal-title" id="code">Details on {{request.title}}</h3>
            </div>

            <!-- body -->
            <div class="modal-body">
                <table id="requestDetails" class="table table-hover table-sm table-inverse">
                    <tbody>
                        <tr>
                            <td scope="row">Title:</td><td>{{request.title}}</td>
                        </tr>
                        <tr>
                            <td scope="row">Description</td><td>{{request.description}}</td>
                        </tr>
                        <tr>
                            <td scope="row">Client</td><td>{{request.client.name}}</td><!-- Need to select ref col value -->
                        </tr>
                        <tr>
                            <td scope="row">Priority</td><td>{{request.priority}}</td>
                        </tr>
                        <tr>
                            <td scope="row">Target Date</td><td>{{request.targetdate}}</td>
                        </tr>
                        <tr>
                            <td scope="row">Project URL</td><td>{{request.ticketurl}}</td>
                        </tr>
                        <tr>
                            <td scope="row">Product Area</td><td>{{request.productarea.name}}</td><!-- Need to select ref col value -->
                        </tr>
                        <tr>
                            <td scope="row">Requesting User</td><td>{{request.user.username}}</td><!-- Need to select ref col value -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
