{% extends "parent.html" %}
{% block title %}Details{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body%}
{% set request = requests[0] %}
<div class="container-fluid">
    <div class="well">
        <div class="modal-content" id="adminBackground">

            <!-- header -->
            <div class="modal-header">
                <h3 class="modal-title" id="code">Details on {{request.title}}</h3>
            </div>

            <!-- body -->
            <div class="modal-body">
                <table id="requestDetails" class="table table-hover table-sm table-inverse">
                    <tbody>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Title:</td><td class="col-md-9 col-lg-10">{{request.title}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Description:</td><td class="col-md-9 col-lg-10">{{request.description}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Client:</td><td class="col-md-9 col-lg-10">{{request.client.name}}</td><!-- Need to select ref col value -->
                        </tr>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Priority:</td><td class="col-md-9 col-lg-10">{{request.priority}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Target Date:</td><td class="col-md-9 col-lg-10">{{request.targetdate}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Project URL:</td><td class="col-md-9 col-lg-10">{{request.ticketurl}}</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Product Area:</td><td class="col-md-9 col-lg-10">{{request.productarea.name}}</td><!-- Need to select ref col value -->
                        </tr>
                        <tr>
                            <td class="col-md-3 col-lg-2" id="detailHeader">Requesting User:</td><td class="col-md-9 col-lg-10">{{request.user.username}}</td><!-- Need to select ref col value -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
