{% extends parent.html %}
{% block title %}IWS Login{% endblock %}
{% block head %}
    {{ super() }}
{% blockend %}
{% block body %}
    <div class="container-fluid">
        <div class="well">
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <h3 class="modal-title" id="login-header">Login to IWS Feature Services</h3>
                </div>

                <!-- body -->
                <div class="modal-body">
                    <form role="form">
                        <h4>Username</h4>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="email">
                        </div>
                        <h4>Password</h4>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                    </form>
                </div>

                <!-- button -->
                <div class="modal-footer">
                    <a href="/home"><button class="btn btn-primary btn-block">Continue</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
