{% extends "parent.html" %}
{% block title %}IWS Login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="well">
            <div class="modal-content">

                <!-- header -->
                <div class="modal-header">
                    <h3 class="modal-title" id="login-header">Login to IWS Feature Services</h3>
                </div>

                <!-- body -->
                <div class="modal-body">
                    <form role="form" action="/verify" method="POST">
                        <h4>Username</h4>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <h4>Password</h4>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password" name="password">
                        </div>
                </div>

                <!-- button -->
                <div class="modal-footer">
                    <button class="btn btn-primary btn-block" value="submit">Continue</button>
                </div>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}
